.wallpaper{
    background: url("../assets/wp7535802-minimal-reflection-sunset-wallpapers.jpg") fixed no-repeat;
    background-size: cover;
}
.home{
    background: rgba(14, 14, 14, 0.1);
    backdrop-filter: blur(2px);
    height: 100%;
}
.center-title{
    margin-left: auto;
    margin-right: auto;
}
.title{
    text-align: center;
    color: #FFFFFF;
}
.title p{
    color: #000000;
    border-radius: 12px;
    margin-top: 65px;
    width: 430px;
    height: 170px;
    text-align: left;
    padding: 20px;
    font-weight: 450;
    font-size: 22px;
}
.sec1{
    padding-top: 140px;
    height: 100vh;
}

.sec2{
    border-top: solid 5px #FCC914;
    background: url("../assets/Desktop - 2.png") center no-repeat;
    background-size: cover;
    padding: 100px 0;
    height: 100vh;
}
.container{
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    height: 500px;
    background: linear-gradient(#FFFFFF, rgba(255, 255, 255, 0));
    padding: 30px 50px;
}
.container h1{
    text-align: center;
    font-weight: bold;
    font-size: 34px;
    color: #000000;
}
.container h2{
    text-align: center;
    font-size: 28px;
    font-weight: 500;
    color: #706E6E;
}
.container p:not(.quote){
    margin-top: 40px;
    line-height: 30px;
    font-size: 18px;
    font-weight: 400;
}
.quote {
    margin-top: 70px;
    font-size: 22px;
    font-weight: 300;
    color: #000000;
}